In [1]:
import pandas as pd

## Create a Series Object from Python List

In [2]:
ice_cream = ['chocolate','vanilla','strawberry','mint choco']

pd.Series(ice_cream)

0     chocolate
1       vanilla
2    strawberry
3    mint choco
dtype: object

In [3]:
lottery = [1,2,3,4,5]
pd.Series(lottery)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
attendance = [True,False,True,True]
pd.Series(attendance)

0     True
1    False
2     True
3     True
dtype: bool

## Create a Series Object from a Dictionary

In [5]:
sushi = {
    "Salmon" : "Orange",
    "Tuna" : "Red",
    "Eel" : "Brown"
}

pd.Series(sushi)      #col0:index, col1:index_label

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

## Intro to Methods

In [6]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [7]:
prices.sum()

8.8

In [8]:
prices.product()

18.095480000000006

In [9]:
prices.mean()

2.9333333333333336

## Intro to Atrributes

In [10]:
adjectives = pd.Series(["Cute","Sleepy","Lazy","Charming"])
adjectives

0        Cute
1      Sleepy
2        Lazy
3    Charming
dtype: object

In [11]:
adjectives.size

4

In [12]:
adjectives.is_unique # tells us if it has any duplicate

True

In [13]:
adjectives.values # returns ndarray

array(['Cute', 'Sleepy', 'Lazy', 'Charming'], dtype=object)

In [14]:
type(adjectives.values)

numpy.ndarray

In [15]:
adjectives.index

RangeIndex(start=0, stop=4, step=1)

In [16]:
adjectives.dtype

dtype('O')

## Parameters and Arguments

In [17]:
# Parameter - The name we give to an expected input
# Arguments - The concrete value that we provide to a parameter 

# Difficulty - Easy, Medium, Hard 
# Parameter = Difficulty , Arguments = Easy, Medium, Hard

In [18]:
fruits = ['Apple','Orange','Plum','Grape','Blueberry']
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday']

pd.Series(data= fruits,index=weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [19]:
# Series index does not need to be unique

## Import Series with pd.read_csv Function

In [20]:
pokemon_series = pd.read_csv('pokemon.csv',usecols=['Pokemon']).squeeze("columns")   #returns pandas series

In [21]:
pokemon_series

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [22]:
stock_price = pd.read_csv('google_stock_price.csv').squeeze()

In [23]:
type(stock_price)

pandas.core.series.Series

## The head and tail Methods on a Series

In [24]:
pokemon = pd.read_csv('pokemon.csv',usecols=['Pokemon']).squeeze("columns")
google = pd.read_csv('google_stock_price.csv',usecols=['Stock Price']).squeeze("columns")

In [25]:
pokemon.head(2) #gives view of the dataset from the start

0    Bulbasaur
1      Ivysaur
Name: Pokemon, dtype: object

In [26]:
google.tail(3) #views data from the bottom

3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

## Passing Series to Python's Built-in Function

In [27]:
pokemon = pd.read_csv('pokemon.csv',usecols=['Pokemon']).squeeze("columns")
google = pd.read_csv('google_stock_price.csv',usecols=['Stock Price']).squeeze("columns")

In [28]:
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [29]:
print(len(pokemon))
print(type(pokemon))
# print(dir(pokemon)) 
print(type(sorted(pokemon)))

721
<class 'pandas.core.series.Series'>
<class 'list'>

 ## The sort_values Method

In [30]:
pokemon = pd.read_csv('pokemon.csv',usecols=['Pokemon']).squeeze("columns")
google = pd.read_csv('google_stock_price.csv',usecols=['Stock Price']).squeeze("columns")

In [31]:
print(pokemon.sort_values(ascending=True).head(2)) # ascending order
print(pokemon.sort_values(ascending=False).head(2)) # descending order

459    Abomasnow
62          Abra
Name: Pokemon, dtype: object
717     Zygarde
633    Zweilous
Name: Pokemon, dtype: object

## The sort_index Method

In [32]:
pokemon = pd.read_csv('pokemon.csv',index_col='Pokemon').squeeze("columns")
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [33]:
pokemon.sort_index(ascending=True).head()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
Name: Type, dtype: object

In [34]:
pokemon.sort_index(ascending=False).head()

Pokemon
Zygarde     Dragon
Zweilous      Dark
Zubat       Poison
Zorua         Dark
Zoroark       Dark
Name: Type, dtype: object

## Check for Inclusion with Python's Keyword 
</br>
To check if a given value exists in data

In [35]:
pokemon = pd.read_csv('pokemon.csv',usecols=['Pokemon']).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [36]:
"Bulbasaur" in pokemon

False

In [37]:
"Bulbasaur" in pokemon.values

True

## Extract Series Value by Index Position

In [38]:
pokemon = pd.read_csv('pokemon.csv',usecols=['Pokemon']).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [39]:
# accesing single value
print(pokemon[0])
print(pokemon[200])

# accessing Desired Value
print(pokemon[[100,200,300]])

# Multiple values
print(pokemon[27:36]) #27:inclusive 36:exclusive

Bulbasaur
Unown
100    Electrode
200        Unown
300     Delcatty
Name: Pokemon, dtype: object
27    Sandslash
28      Nidoran
29     Nidorina
30    Nidoqueen
31     Nidoran♂
32     Nidorino
33     Nidoking
34     Clefairy
35     Clefable
Name: Pokemon, dtype: object

In [40]:
# pulling first 6 elements 
pokemon[:7]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
Name: Pokemon, dtype: object

In [41]:
# pulling last elements
pokemon[717:]

717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [42]:
pokemon[-20:-10]

701      Dedenne
702      Carbink
703        Goomy
704      Sliggoo
705       Goodra
706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
Name: Pokemon, dtype: object

## Extract Series Value by Index_label

In [43]:
pokemon = pd.read_csv('pokemon.csv',index_col='Pokemon').squeeze("columns")
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [44]:
pokemon["Charmander"]

'Fire'

In [45]:
pokemon[["Bulbasaur","Venusaur","Charmeleon"]]

Pokemon
Bulbasaur     Grass
Venusaur      Grass
Charmeleon     Fire
Name: Type, dtype: object

In [46]:
pokemon["Bulbasaur":"Charmeleon"]

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

## The get method on a Series

In [47]:
pokemon = pd.read_csv('pokemon.csv', index_col= 'Pokemon').squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [48]:
pokemon.get(0)
pokemon.get("Bulbasaur")
pokemon.get([5,10])
pokemon.get(["Ivysaur","Charmeleon"])

# pokemon.get("Digimon","nonexistent") gives None

pokemon.get(["Digimon","Charmeleon"],"Nonexistent") # as we know  digimon does not exist in the value

'Nonexistent'

## Overwrite a Series Value

In [49]:
pokemon = pd.read_csv('pokemon.csv',usecols = ["Pokemon"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [50]:
pokemon[0] = "Borisaur"

In [51]:
pokemon[0]

'Borisaur'

In [52]:
pokemon[7210] = "hello"

In [53]:
pokemon.tail()

717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
7210        hello
Name: Pokemon, dtype: object

In [54]:
pokemon[[1,2,5]] = ["Firemon", "Flamemon", "Blazemon"]

In [55]:
pokemon.head(6)

0      Borisaur
1       Firemon
2      Flamemon
3    Charmander
4    Charmeleon
5      Blazemon
Name: Pokemon, dtype: object

In [56]:
pokemon = pd.read_csv('pokemon.csv', index_col = "Pokemon").squeeze("columns") 
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [57]:
pokemon["Ivysaur"] = "Cry"

## The copy Method

In [58]:
pokemon_df = pd.read_csv('pokemon.csv',usecols= ["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns")

In [59]:
pokemon_series[0] = "Whatever"

In [60]:
pokemon_series.head(1)

0    Whatever
Name: Pokemon, dtype: object

In [61]:
pokemon_df

        Pokemon
0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [62]:
# Seeing the data gives us a perspective that pokemon_df and pokemon_series are both diffeerent objects, but they are not.
# if pokemon_df can be taken as dataframe then pokemon_series can be taken as a view, any change in the view can be seen in 
# dataframe

In [63]:
pokemon_df = pd.read_csv("pokemon.csv", usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy() # indepedent Series

In [64]:
pokemon_series[0]= "However"

In [65]:
pokemon_df.head()

      Pokemon
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon

## The Inplace Parameter

In [72]:
google = (
           pd.read_csv('google_stock_price.csv',usecols=['Stock Price'])
           .squeeze('columns')
           .copy()
         )

In [68]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [69]:
google = google.sort_values()
google.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [70]:
google.sort_values()

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [73]:
google.sort_values(inplace=True)

In [74]:
google.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [75]:
google.sort_index(inplace=True)

In [76]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

## Math Methods on Series Objects

In [79]:
google = pd.read_csv("google_stock_price.csv", usecols=["Stock Price"]).squeeze("columns")
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [80]:
google.count()
google.sum()
google.mean()
google.product()
google.std()
google.min()
google.max()
google.mode()
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

## Broadcasting

In [81]:
google = pd.read_csv('google_stock_price.csv',usecols=["Stock Price"]).squeeze("columns")
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [84]:
google + 10

google.add(10)

0        60.12
1        64.10
2        64.65
3        62.38
4        62.95
         ...
3007    782.88
3008    781.07
3009    783.18
3010    781.61
3011    792.22
Name: Stock Price, Length: 3012, dtype: float64

## The value_counts Method

In [85]:
pokemon = pd.read_csv('pokemon.csv', index_col = 'Pokemon').squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [88]:
pokemon.value_counts()
pokemon.value_counts(ascending=True)

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Poison       28
Dark         28
Ground       30
Electric     36
Rock         41
Psychic      47
Fire         47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

In [90]:
pokemon.value_counts(normalize=True) * 100

Water       14.563107
Normal      12.898752
Grass        9.153953
Bug          8.737864
Fire         6.518724
Psychic      6.518724
Rock         5.686546
Electric     4.993065
Ground       4.160888
Poison       3.883495
Dark         3.883495
Fighting     3.467406
Dragon       3.328710
Ghost        3.190014
Ice          3.190014
Steel        3.051318
Fairy        2.357836
Flying       0.416089
Name: Type, dtype: float64

## The apply Method

In [91]:
pokemon = pd.read_csv('pokemon.csv', index_col='Pokemon').squeeze('columns')
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [93]:
pokemon.apply(len)

Pokemon
Bulbasaur     5
Ivysaur       5
Venusaur      5
Charmander    4
Charmeleon    4
             ..
Yveltal       4
Zygarde       6
Diancie       4
Hoopa         7
Volcanion     4
Name: Type, Length: 721, dtype: int64

## The map Method

In [95]:
pokemon = pd.read_csv('pokemon.csv', index_col='Pokemon').squeeze('columns')
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [96]:
mappings = {
    'Grass':'Classic',
    'Fire' : 'Classic',
    'Water' : 'Classic',
    'Normal' : 'Boring'
    }

In [97]:
pokemon.map(mappings)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object