In [1]:
import pandas as pd
import datetime as dt

## Review of python's datatime Module

In [2]:
someday = dt.date(2016,4,30)

In [3]:
someday.year
someday.month
someday.day

30

In [4]:
str(dt.datetime(2010,12,23,17,13,57))

'2010-12-23 17:13:57'

In [5]:
sometime = dt.datetime(2010,12,23,17,13,57)

In [6]:
sometime.year
print(sometime.month)
print(sometime.day)
print(sometime.hour)

12
23
17

## The pandas Timestamp Object

In [7]:
pd.Timestamp("2015-05-23")
pd.Timestamp("2015/05/23")
pd.Timestamp("2015.05.23")
pd.Timestamp("2015.05.23 6:13:56 PM")

Timestamp('2015-05-23 18:13:56')

In [8]:
pd.Timestamp(dt.date(2023,2,3))

Timestamp('2023-02-03 00:00:00')

In [9]:
pd.Timestamp(dt.datetime(2000,12,8,12,0,0))

Timestamp('2000-12-08 12:00:00')

## The pandas DateTimeIndex Object

In [10]:
dates = ['2016-01-02','2016-08-5','2016-10-7']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-08-05', '2016-10-07'], dtype='datetime64[ns]', freq=None)

In [11]:
dates = [dt.date(2000,5,6),dt.date(2000,8,5),dt.date(2000,4,3)]
indx = pd.DatetimeIndex(dates)

In [12]:
val = [100,200,300]
pd.Series(data = val, index=indx)

2000-05-06    100
2000-08-05    200
2000-04-03    300
dtype: int64

## The pd.to_datetime() Method

In [13]:
pd.to_datetime("2001-04-16")
pd.to_datetime(dt.date(2015,1,1))
pd.to_datetime(dt.datetime(2021,8,4,3,7,56))

Timestamp('2021-08-04 03:07:56')

In [14]:
times = pd.Series(['2015-01-03','2014/02/08','2016','July 4th, 1996'])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [15]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

## Create Range of Dates with the pd.date_range() Method, Part 1

In [16]:
times = pd.date_range(start = '2017-01-01',end = '2017-01-10', freq = 'D')
times

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', freq='D')

In [17]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [18]:
times[0]

Timestamp('2017-01-01 00:00:00', freq='D')

In [19]:
business_day = pd.date_range(start = '2017-01-01',end = '2017-01-10', freq = 'B')
business_day

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06', '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', freq='B')

## Create Range of Dates with the pd.date_range() Method, Part 2

In [20]:
pd.date_range(start = '2012-09-09', periods=50, freq='30H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-10 06:00:00',
               '2012-09-11 12:00:00', '2012-09-12 18:00:00',
               '2012-09-14 00:00:00', '2012-09-15 06:00:00',
               '2012-09-16 12:00:00', '2012-09-17 18:00:00',
               '2012-09-19 00:00:00', '2012-09-20 06:00:00',
               '2012-09-21 12:00:00', '2012-09-22 18:00:00',
               '2012-09-24 00:00:00', '2012-09-25 06:00:00',
               '2012-09-26 12:00:00', '2012-09-27 18:00:00',
               '2012-09-29 00:00:00', '2012-09-30 06:00:00',
               '2012-10-01 12:00:00', '2012-10-02 18:00:00',
               '2012-10-04 00:00:00', '2012-10-05 06:00:00',
               '2012-10-06 12:00:00', '2012-10-07 18:00:00',
               '2012-10-09 00:00:00', '2012-10-10 06:00:00',
               '2012-10-11 12:00:00', '2012-10-12 18:00:00',
               '2012-10-14 00:00:00', '2012-10-15 06:00:00',
               '2012-10-16 12:00:00', '2012-10-17 18:00:00',
               '2012-10-19 00:00:00', '2012-10-20 06:00:00',
               '2012-10-21 12:00:00', '2012-10-22 18:00:00',
               '2012-10-24 00:00:00', '2012-10-25 06:00:00',
               '2012-10-26 12:00:00', '2012-10-27 18:00:00',
               '2012-10-29 00:00:00', '2012-10-30 06:00:00',
               '2012-10-31 12:00:00', '2012-11-01 18:00:00',
               '2012-11-03 00:00:00', '2012-11-04 06:00:00',
               '2012-11-05 12:00:00', '2012-11-06 18:00:00',
               '2012-11-08 00:00:00', '2012-11-09 06:00:00'],
              dtype='datetime64[ns]', freq='30H')

## Create Range of Dates with the pd.date_range() Method, Part 3

In [21]:
pd.date_range(end ='2000-12-23', periods=20, freq = 'D')

DatetimeIndex(['2000-12-04', '2000-12-05', '2000-12-06', '2000-12-07',
               '2000-12-08', '2000-12-09', '2000-12-10', '2000-12-11',
               '2000-12-12', '2000-12-13', '2000-12-14', '2000-12-15',
               '2000-12-16', '2000-12-17', '2000-12-18', '2000-12-19',
               '2000-12-20', '2000-12-21', '2000-12-22', '2000-12-23'],
              dtype='datetime64[ns]', freq='D')

##  The .dt Accessor

In [22]:
dates = pd.date_range(start = '2000-01-01', end ='2010-12-31', freq = '24D')
dates

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [23]:
s = pd.Series(dates)
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [24]:
mask = s.dt.is_month_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

## Import Financial Dataset with pandas_datareader Library

In [25]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [ ]:
data.DataReader()